APP_PASSWORD_HASH=
SESSION_SECRET=change-this-to-at-least-32-random-characters
DATABASE_URL=file:./dev.db
PRICE_PROVIDER=coingecko
PRICE_REFRESH_INTERVAL_MINUTES=5
TZ=UTC
PORT=3000
CRYPTOLYST_IMAGE=1030283726/cryptolyst:latest
